.App {
  text-align: center;
  background-color: #F0EEEE;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock {
  font-size: 1rem;
  font-weight: bold;
}

span.MuiTypography-root.MuiCardHeader-subheader.MuiTypography-body2.MuiTypography-colorTextSecondary.MuiTypography-displayBlock{
  font-size: 0.6rem;
}

.MuiAvatar-root.MuiAvatar-circle.makeStyles-avatar-127.MuiAvatar-colorDefault{
  width: 30px;
  height: 30px;
  font-size: 1rem;
  background: black;
}

.MuiCardHeader-root{
  height: 70px;
}

.MovieContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 90px;
  justify-content: center;
}

.MuiCard-root{
  margin: 10px;
  width: 300px;
}

.MovieInfoContainer{
  margin-top: 90px;
}

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters{
  background-color: #D4E0FA;
}

.logo{
  height: 80px;
  display: block;
}

.MuiInputBase-input.makeStyles-inputInput-7{
  color: black;
  font-weight: 500;
  float: right;
}

.MuiInputBase-root.makeStyles-inputRoot-5{
  float: right;
}

.MuiSvgIcon-root{
  color:black;
}

.MovieTitle{
  font-weight: bold;
  font-size: 2rem;
}

.MainContainer{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.Poster{
  width: 250px;
  margin: auto;
}

.CircleRating{
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 15px;
  position: relative;
}

.CircleText{
  position: absolute;
  bottom: 20%;
  width: 100%;
}